<div class="card mb-4">
  <div class="card-header">
      <i class="fas fa-table mr-1"></i>
      Users
  </div>
  <div class="card-body">
    <div class="mt-1 mb-1">
      <input class="form-control" placeholder="Filter" name="firstname" type="text" [(ngModel)]="firstname"/>

    </div>

      <div class="table-responsive">



          <table class="table table-bordered"  width="100%" cellspacing="0">
              <thead>
                  <tr>
                      <th (click)="sort('firstname')">Firstname &nbsp; <i class="fa fa-sort"></i> </th>
                      <th (click)="sort('lastname')">Lastname &nbsp; <i class="fa fa-sort"></i></th>
                      <th (click)="sort('email')">Email &nbsp; <i class="fa fa-sort"></i></th>

                      <th>Opcion</th>
                  </tr>
              </thead>

              <tbody>

                  <tr *ngFor="let item of collection.data | orderBy: key : reverse : caseInsensitive : comparator | paginate: config |filter: firstname ">

                      <td>{{item.firstname}}</td>
                      <td>{{item.lastname}}</td>
                      <td>{{item.email}}</td>

                      <td> <button class="btn btn-primary" (click)="editUser(item)"> Editar </button>
                        <button class="btn btn-danger ml-1" (click)="deleteUser(item)"> Borrar </button>
                      </td>
                  </tr>

              </tbody>
          </table>
          <div>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
          </div>

      </div>
  </div>
</div>
